@charset "utf-8"
* {
	margin: 20px auto;
	font-family: 20px "幼圆";
}


/*传输别人没有的字体*/
@font-face {
	font-family: 命名字体的别名; /* 在引用字体格式时可以 引用别名   最好使用期自身的名字*/
	src: url();/* ./ 表示当前路径     将字体文件放在指定的文件夹 添加字体路径*/
}


fieldset {
	width: 300px;
}

#form {
	text-align: center;
	/*display: none*/
	/*visibility: hidden;*/
}

#data {
	border-collapse: collapse;
}

#data tr {
	height: 50px;
}

#data td {
	border: 2px solid antiquewhite;
}

.col-1 {
	width: 300px;
}

.center {
	text-align: center;
}

.head {
	color: white;
	background-color: cornflowerblue;
}

.odd {
	background-color: wheat;
}

.even {
	background-color: powderblue;
}

.row1 {
	border-top: none !important;
}

.lrow {
	border-bottom: none !important;
}

.lcol {
	border-left: none !important;
}

.rcol {
	border-right: none !important;
}

.tl {
	border-top-left-radius: 5px;
}

.tr {
	border-top-right-radius: 5px;
}

.bl {
	border-bottom-left-radius: 5px;
}

.br {
	border-bottom-right-radius: 5px;
}