<!DOCTYPE HTML>
<html>
<head>
<title>blogzml登录</title>
<!-- Custom Theme files -->
<link href="/static/user/login/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
<!--header start here-->
<div class="login-form">
			<div class="top-login">
				<span><img src="/static/user/login/images/group.png" alt=""/></span>
			</div>
			<h1>上传文件</h1>
			<div class="login-top">
			<form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="login-ic">
					<i ></i>
					<input type="file" name="file" value="上传文件"/>
					<div class="clear"> </div>
				</div>
			
				<div class="log-bwn">
					<input type="submit"  value="上传" >
				</div>
				</form>
			</div>
			<p class="copy">© 2018 blogzml.com</p>
</div>		
<!--header start here-->
</body>
</html>