<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆信息查询</title>
</head>
<body>
    <h1>Wlecome!</h1>
    <hr>
    <div style="width: 400px; height: 200px; text-align: center; background-color: #f7ecb5">
        <h1 style="padding-top: 70px;"><a href="{% url 'query' %} " style="text-decoration: none;">车辆信息查询</a></h1>
    </div>
    <div style="width: 400px; height: 200px; text-align: center; background-color: #f7ecb5">
        <h1 style="padding-top: 70px;"><a href="{% url 'car' %}" style="text-decoration: none;">所有车辆信息</a></h1>
    </div>
<div style="width: 400px; height: 200px; text-align: center; background-color: #f7ecb5">
{#        <h1 style="padding-top: 70px;"><a href="{% url 'search' %}" style="text-decoration: none;">查询</a></h1>#}
    </div>
</body>
</html>