<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆违章</title>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #foo {
            margin: 30px 100px;
        }
    </style>

</head>
<body>
    <div>
    <div>
        <p>{{ last_time }}</p>
    </div>
    <div id="foo">
        <form action="/search" method="post">
        {% csrf_token %}   {# 防止跨站身份伪造最佳做法放置随机令牌#}
        <input type="search" name="carno" placeholder="请输入车牌号码" required>
        <input type="submit" value="搜索">
            <a href="/add">添加新记录</a>
        </form>
    </div>
        <hr>
    {% if show_result %}
         <table class="table table-hover table-bordered">
             <thead>
                        <tr>
                            <th>序号</th>
                            <th>车牌号码</th>
                            <th>违章原因</th>
                            <th>违章日期</th>
                            <th>处罚方式</th>
                            <th>是否受理</th>
                        </tr>
             </thead>
             <tbody id="car">
                        {% for record in record_list %}
                            <tr>
                                <td>{{ record.id }}</td>
                                <td>{{ record.carno }}</td>
                                <td>{{ record.case }}</td>
                                <td>{{ record.cardate }}</td>
                                <td>{{ record.punish }}</td>
                                <td>
                                    {% if record.handing %}
                                        <span style="color: #449d44;">√</span>
                                        {% else %}
                                        <span style="color: red;">X</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
             </tbody>
         </table>
    {% endif %}
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            {#$('#car').css('display', 'none');#}
            $('#car tr:odd').addClass('info');
            $('#car tr:even').addClass('warning')});
    </script>

</body>
</html>