<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>部门</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	</head>
	<body>
		<h1>部门信息</h1>
		<hr>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<table class="table">
						<thead>
							<tr>
								<th>部门编号</th>
								<th>部门名称</th>
								<th>部门所在地</th>
								<th>是否优秀</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="dept">
							{% for dept in dept_list %}
							<tr>
								<td>{{ dept.no }}</td>
								<td>
									<a href="{% url 'empsindept' dept.no %}">{{ dept.name }}</a>
								</td>
								<td>{{ dept.location }}</td>
								<td id="ex">
									{% if dept.excelent %}
									<p style="color: green;">√</p>
									{% else %}
									<p style="color: red;">×</p>
									{% endif %}
								</td>
{#								<td><button type="button" class="btn btn-danger btn-xs"><a href="{% url 'ddel' dept.no %}">删除</a></button></td>#}
                                <td><a id="{{ dept.no }}" href="javascript:void(0)"><button type="button" class="btn btn-danger btn-xs">删除</button></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
		</div>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script>
			$(function() {
				$('#dept tr:odd').addClass('info')
				$('#dept tr:even').addClass('warning')
				{#$('#ex').css('background', 'url({% static "images/ui-icons-red.png" %}) no-repeat -225px -115px;')#}
                $('#dept a[id]').on('click', function(evt) {
                    {#no= $(evt.target).parent().parent().children().first().text()#}
                    var a = $(evt.target).parent();
                    alert(a.attr('id'))
                    if (confirm('确定??')) {
                        $.getJSON('/hrs/deldept/' + a.attr('id'), function(json) {
                            if (json.code == 200) {
                                a.parent().parent().remove()
                            }
                        });
                    }
                });
			})
		</script>
	</body>
</html>